[submodule "intercept"]
	path = intercept
	url = https://github.com/intercept/intercept.git
[submodule "mariadb-connector-c"]
	path = mariadb-connector-c
	url = https://github.com/MariaDB/mariadb-connector-c
[submodule "mariadbpp"]
	path = mariadbpp
	url = https://github.com/dedmen/mariadbpp
[submodule "wolfssl"]
	path = wolfssl
	url = https://github.com/wolfSSL/wolfssl
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
